* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: "Poppins", sans-serif;
  place-items: center;
  color: #232323;
  background-color: #fed3b27b;
}

.main_header {
  font-family: "Bakbak One", cursive;
  min-height: 10vh;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  align-items: center;
}

.main_logo {
  width: 50px;
  height: 50px;
  justify-self: start;
}

.main_nav {
  justify-self: end;
}

.main_nav > a {
  text-decoration: none;
  color: #232323;
}

.main_main {
  min-height: 80vh;
  width: 90%;
}

.main_main img {
  width: 12vw;
  min-width: 160px;
  height: 12vw;
  min-height: 160px;
  object-fit: cover;
  border-radius: 50%;
  padding: 12px;
}

.main_main p {
  padding: 12px;
}

.section_one {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  place-items: center;
}

.section_two {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  place-items: center;
}

.section_three {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  place-items: center;
}

.main_footer {
  font-family: "Bakbak One", cursive;
  min-height: 10vh;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  place-items: center;
}

.main_footer > a {
  text-decoration: none;
  color: #232323;
}
